{% extends 'layout.html' %}
{% block title %}Account{% endblock title %}
{% block body %}
    <div class="col-md-10 mx-auto dsboard" style="margin-top:8rem;">
         <h3 class="text-center">Request a loan today</h3>
         <hr/>
         <div style="margin-top:1rem;">
             <table class="table table-hover">
               <thead>
                 <tr>
                   <th scope="col">Transaction date</th>
                   <th scope="col">Loans</th>
                   <th scope="col">Payments</th>
                 </tr>
               </thead>
               </<tbody>
                   {% for mydata in data %}
                   <tr>
                       <th scope="row">{{mydata.trans_date.strftime("%d-%m-%Y")}}</th>
                       <td>{{mydata.loan}}</td>
                       <td>{{mydata.payment}}</td>
                    </tr>
                    {% endfor %}
               </tbody>
             </table>
             <div class="float-right">
                 {% if data %}
                     {% if data[-1].receipt < 0%}
                     <p class="text-danger">You still owe {{func(data[-1].receipt)}}Naira</p>
                     {% else %}
                     <p>You owe nothing</p>
                     {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
